@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary-orange: #FF1E02;
  --color-primary-orange-hover: #cc1800;
  --color-dark-red: #2F0700;
  --color-dark-red-1: #240500F7;
  --color-light-gray: #D9D9D9;
  --color-medium-gray: #D2CACA;
  --color-silver-border: linear-gradient(96.75deg, #C9C9C9 -2.49%, #000000 51.75%, #C9C9C9 102.95%);
  --color-linear-orange: linear-gradient(90deg, #C71A04 0%, #FF1E02 29.81%, #C71A04 63.46%, #FF1E02 100%);
  --color-alternative-gray: #666666;
  --color-red-gray: #482929;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.button-hover{
  &:hover {
      @media (hover: hover) {
          scale: 1.02;
      }
  }
  &:active {
    scale: 0.98;
}
}

.background-linear-orange{
  background: linear-gradient(90deg, #C71A04 0%, #FF1E02 29.81%, #C71A04 63.46%, #FF1E02 100%);
}

.background-linear-blue{
  background: linear-gradient(90deg, #422B98 0%, #6E48FE 100%);
}